.dashboard-petition-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.petition-tag {
  background-color: rgb(228, 234, 240);
  border-radius: 7px;
  color: rgb(92, 132, 177);
  display: inline-flex;
  flex-wrap: wrap;
  font-size: small;
  font-weight: 600;
  margin: 7px 0 14px -2px;
  padding: 5px;
  width: fit-content;
}

.petition-subtitle {
  color: rgb(242, 101, 38);
  display: flex;
  font-weight: 600;
  margin: 10px 0;
}

.petition-title {
  display: inline-flex;
  font-weight: 600;
}

.petitions-title {
  display: flex;
  justify-content: space-around;
}

.petition-eye {
  margin: auto;
  padding: 0 3px;
}

.preview-petition {
  color: rgb(53, 117, 171);
  display: inline-flex;
}

.preview-petition-text {
  color: rgb(53, 117, 171);
}

.preview-petition-text:hover {
  cursor: pointer;
}

.publication-petition {
  color: rgb(53, 117, 171);
  display: inline-flex;
}

.third-line {
  color: rgb(53, 117, 171);
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0;
}

.card-petition {
  border-radius: 5px;
  box-shadow: 0 0 7px rgb(216, 216, 213);
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 85%;
}

.ant-card-body {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 12px;
  width: 100%;
}
