.dashboard-cards-container {
  display: flex;
  justify-content: space-around;
}

.dashboard-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 25px auto 0;
}

.card-types {
  border-radius: 5px;
  box-shadow: 0 0 7px rgb(216, 216, 213);
  display: flex;
  height: fit-content;
  margin: 10px;
  width: 165px;
}

.card-type {
  display: flex;
  font-weight: 600;
  justify-content: flex-start;
}

.card-total {
  display: flex;
  font-size: xx-large;
  font-weight: 600;
}

.card-total-monthly {
  font-weight: 275;
}

.anticon {
  border-radius: 3px;
  margin: auto 5px 0 0;
  padding: 0.3em;
}

.anticon-user {
  background-color: rgb(209, 225, 226);
}

.anticon-file-text {
  background-color: rgb(231, 217, 193);
}

.anticon-calculator {
  background-color: rgb(207, 226, 211);
}

.anticon-folder {
  background-color: rgb(213, 207, 226);
}
