.dashboard-header-container {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.previdenciarista-logo-dashboard {
  display: flex;
  width: 150px;
}

.profile-picture {
  border-radius: 50%;
  display: flex;
  width: 55px;
}

.profile-picture:hover {
  cursor: pointer;
}
