body {
  height: fit-content;
}

.login-container {
  display: flex;
  flex-direction: column;
  margin: 100px auto 0;
  width: fit-content;
}

.previdenciarista-logo-login {
  display: flex;
  width: 85px;
}

.login-button {
  background-color: coral;
  display: flex;
  width: 245px;
}

.login-button-text {
  color: white;
  display: flex;
  margin: auto;
}

.forget-password {
  display: flex;
}

.login-inputs {
  display: flex;
  width: 245px;
}

.label-texts {
  display: flex;
}
